html {
    font-size: $font-size;
}

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    width: 0;
    opacity: 0;
}

*::-webkit-scrollbar-thumb{
    background-color: $black;
    border-radius: 0.38rem;
    border: 0.13rem solid $white-gray;
    opacity: 0.75;
}

body {
    background: $dark-gray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: calc(100vh - $header-height - $footer-height);
}

.light-btn, .btn-success, .btn-error, .dark-btn{
    height: 3.13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: $white2;
    font-family: 'Nunito';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.06rem;
    cursor: pointer;
    & span{
        opacity: 0.6;
    }

    &:hover span{
        opacity: 1;
    }

    &:active span{
        opacity: 1;
    }
}

.light-btn{
    background-color: $gap-gray;
    &:hover{
        background-color: $gray;
    }

    &:active{
        background-color: $gap-gray;
    }
}

.btn-success{
    background-color: $light-green;
    &:hover{
        background-color: $dark-green;
    }

    &:active{
        background-color: $light-green;
    }
}

.btn-error{
    background-color: $red;
    &:hover{
        background-color: $dark-red;
    }

    &:active{
        background-color: $red;
    }
}

.dark-btn{
    background-color: $dark-black;
    &:hover{
        background-color: $light-black;
    }
    &:active{
        background-color: $dark-black;
    }
}

.dropdown{
    position: relative;

    & .select{
        cursor: pointer;
    }

    & &-menu{
        position: absolute;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        z-index: 9;
        list-style: none;
        display: none;
        height: 0;

        & li{
            cursor: pointer;
        }
    }
}

.link{
    &:hover{
        text-decoration: underline;
    }
}

.like{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.13rem;
    height: 3.13rem;
    background-color: $gap-gray;
    border-radius: 1rem;
    cursor: pointer;

    &:not(.active) &--false{
        display: block;
    }
    &:not(.active) &--true{
        display: none;
    }

    &:not(.active):hover{
        background-color: $gray;
    }

    &:not(.active):active{
        background-color: $gap-gray;
    }

    &.active{
        background-color: $green;

        & .like--false{
            display: none;
        }

        & .like--true{
            display: block;
        }

        &:hover{
            background-color: $light-green;
        }

        &:active{
            background-color: $green;
        }
    }
}

.input-text{
    background-color: $gap-gray;
    height: 3.63rem;
    border-radius: 1.25rem;
    padding: 0.625rem;
    box-sizing: border-box;
    color: $white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;

    &::placeholder{
        color: $white;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.25rem;
    }
}