html {
    font-size: $font-size;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    width: 0;
    opacity: 0;
}

body::-webkit-scrollbar-thumb{
    background-color: $black;
    border-radius: 0.38rem;
    border: 0.13rem solid $white-gray;
    opacity: 0.75;
}

body {
    background: $dark-gray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: calc(100vh - $header-height - $footer-height);
}

.dark-btn {
    border-radius: 1rem;
    background: rgba(32, 33, 34, 0.7);
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    color: $white2;
    font-family: 'Nunito';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.69rem;
    cursor: pointer;
    width: 12.5rem;

    &:hover {
        background: rgba(43, 46, 49, 0.7);
        opacity: 1;
    }

    &:active {
        background: rgba(32, 33, 34, 0.7);
        opacity: 1;
    }
}

.light-btn, .btn-success, .btn-error{
    height: 3.13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: $white2;
    font-family: 'Nunito';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.06rem;
    cursor: pointer;
    & span{
        opacity: 0.6;
    }

    &:hover span{
        opacity: 1;
    }

    &:active span{
        opacity: 1;
    }
}

.light-btn{
    background-color: $gap-gray;
    &:hover{
        background-color: $gray;
    }

    &:active{
        background-color: $gap-gray;
    }
}

.btn-success{
    background-color: $light-green;
    &:hover{
        background-color: $dark-green;
    }

    &:active{
        background-color: $light-green;
    }
}

.btn-error{
    background-color: $red;
    &:hover{
        background-color: $dark-red;
    }

    &:active{
        background-color: $red;
    }
}

.dropdown{
    position: relative;

    & .select{
        cursor: pointer;
    }

    & &-menu{
        position: absolute;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        z-index: 9;
        list-style: none;
        display: none;
        height: 0;

        & li{
            cursor: pointer;
        }
    }
}

.link{
    &:hover{
        text-decoration: underline;
    }
}