.header {
    display: flex;
    padding-left: $page-padding;
    padding-right: $page-padding;
    align-items: center;
    background-color: $black;
    height: $header-height;
    box-sizing: border-box;
    position: relative;

    &__menu {
        display: flex;
        list-style: none;
        gap: 1.875rem;
    }

    &-menu {
        &__wrapper {
            margin: 0 3.125rem;
        }

        &__link {
            font-family: "Nunito";
            color: $white2;
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.69rem;
            letter-spacing: 0rem;
            text-align: center;

            &:hover {
                border-bottom: 0.13rem solid $cyan;
            }
        }
    }

    &-auth {
        &__wrapper {
            margin-left: auto;
        }

        &__link {
            color: $white2;
            font-family: "Nunito";
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.06rem;
            letter-spacing: 0rem;
            text-align: center;

            &:hover {
                border-bottom: 0.13rem solid $cyan;
            }
        }
    }

    &__auth {
        display: flex;
        list-style: none;
        gap: 3.125rem;
    }

    &__account{
        display: flex;
        margin-left: auto;
        align-items: center;
    }
}

.account{
    &__name{
        color: $white2;
        font-family: 'Nunito';
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.06rem;
        margin-right: 0.625rem;
    }

    &__picture{
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;
        border-radius: 50%;
        margin-right: 0.3125rem;
    }

    &__more{
        background-color: inherit;
        cursor: pointer;
    }

    &__popup{
        display: none;
        position: absolute;
        width: 18.75rem;
        height: 10.5rem;
        z-index: 100;
        background-color: $alt-gray;
        border-radius: 1.25rem;
        right: calc($page-padding);
        bottom: -11.125rem;
        color: $white2;
        font-family: 'Nunito';
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.06rem;
    }

    &__popup.active{
        display: flex;
    }

    &__links{
        list-style: none;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: stretch;

        &-item{
            position: relative;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:not(:last-of-type)::after{
                content: '';
                display: block;
                width: 17.5rem;
                border: 0.13rem solid $white-gray;
                border-radius: 1.25rem;
                position: absolute;
                bottom: -0.065rem;
                z-index: 101;
            }

            &:hover{
                background-color: $light-gray;
            }

            &:first-of-type:hover{
                border-top-left-radius: 1.25rem;
                border-top-right-radius: 1.25rem;
            }

            &:last-of-type:hover{
                border-bottom-left-radius: 1.25rem;
                border-bottom-right-radius: 1.25rem;
            }
        }
    }
}